.container {
  height: 50vh;
  width: 100%;
  display: flex;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horizontalDivider {
  margin-top: 2%;
  width: 90%;
  height: 1px;
  background-color: var(--color-text);
}
.categoryContainer {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background-color: blue; */
  padding: 2%;
  margin-bottom: -40px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: red; */
}
.categoryHeader {
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.category h1 {
  font-size: 16px;
  cursor: default;
}

.links {
  list-style: none;
}
.links a {
  &:hover {
    text-decoration: underline;
  }
}
.classInfo {
  font-size: 20px;
  background-color: var(--color-text);
  cursor: default;
}
.infodump {
  color: var(--color-text);
}
.infodump a {
  text-decoration: underline;
}
